/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

html{
    scroll-behavior: smooth;
}


/* Navigation bar */
.navigation{
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 10;
}
.navigation .list-element{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}

.navigation .list-element a{
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background-color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.navigation .list-element a:active{
    background-color: rgba(65, 105, 225, 0.726);
}

.navigation .list-element a:visited{
    color: black;
}


/* Sections */
.sect{
    height: 100vh;
    position: relative;
}

.sect.red{
    background-color: red;
}

.sect.green{
    background-color: green; 
}

.sect.yellow{
    background-color: yellow;
}


/* Wrapper */
.sect .model-wrapper{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 650px;
    text-align: center;
}


/* Images */
.sect .model-wrapper img{
    width: 100%;
}


/* Text */
.sect .model-wrapper h2{
    font-size: 40px;
}
.sect.red h2,
.sect.green h2{
    color: yellow;
}
.sect.yellow h2{
    color: green;
}